<h1>Product View</h1>

<div>
Product Name: <%= @product['name'] %> <br>
Product Price: <%= @product['price_in_cents']%> <br>
Product Category: <%= @product['primary_category']%> <br>
</div>
<p>
<div><%= link_to "Back", "/products" %></div>